PORT=
DB_URL=
NODE_ENV=

#JWT
JWT_SECRET=
JWT_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

#bcrypt SALT
SALT=

#SUPER ADMIN
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

#Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#Express-session
EXPRESS_SESSION_SECRET=

#clinet url
CLIENT_URL=